<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="/static/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="container">
    <h1>Login do Painel</h1>
    <form id="loginForm">
      <label for="user">Usuário:</label>
      <input type="text" id="user" name="user" required>
      <label for="pass">Senha:</label>
      <input type="password" id="pass" name="pass" required>
      <button type="submit">Entrar</button>
    </form>
  </div>

  <script>
    document.getElementById("loginForm").addEventListener("submit", login)

    function login(e) {
      e.preventDefault()

      fetch('/api/login', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({
          username: document.getElementById('user').value,
          password: document.getElementById('pass').value
        })
      }).then(res => {
        if (res.status === 200) {
          window.location.href = '/dashboard'
        } else {
          document.getElementById('msg').textContent = 'Login inválido'
        }
      })
    }
  </script>
</body>

</html>